name: "Build on Pull Request"

on:
  pull_request:
    branches: [ "*" ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Setup Go
        uses: actions/setup-go@v5
        with:
          go-version: 1.26.0

      - name: Install dependencies
        run: |
          go mod tidy
          go mod download

      - name: Run GoReleaser
        uses: goreleaser/goreleaser-action@v4
        with:
          args: release --snapshot